*,
*::before,
*::after {
}

:root {
  --c--black: #000000;
  --c-dblue: #22223b;
  --c-lblue: #4a4e69;
  --c-llgrey: #9295a5;
  --c-yellow: #f95738;
  --c-red: #c9ada7;
  --c-red2: #f2e9e4;
  --c-lgrey: #a6808c;
  --c-white: #ffffff;
  --c-green: #0e6867;
  --c-lneutral: #fee2dc;
}

.custom-color-o {
  color: var(--c-yellow);
}

.custom-bg-color-n {
  background-color: var(--c-lneutral);
}

.none {
  display: none;
}