/* *,
*::before,
*::after {
}

:root {
  --c--black: #000000;
  --c-dblue: #22223b;
  --c-lblue: #4a4e69;
  --c-llgrey: #9295a5;
  --c-yellow: #f95738;
  --c-red: #c9ada7;
  --c-red2: #f2e9e4;
  --c-lgrey: #a6808c;
  --c-white: #ffffff;
  --c-green: #0e6867;
  --c-lneutral: #fee2dc;
}

a:hover { 
  color: var(--c--yellow) !important; 
} */

/*
html {
  scroll-behavior: smooth;
}

/*Flexbox Container*/
/* body {
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background-color: var(--c-llgrey);
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  letter-spacing: .5px;
  line-height: 1.6em;
  color: black;
} */

/*Flexbox Body; Flexbox Header*/
/* header {
  height: 175px;
  background-image: linear-gradient(black, var(--c-dblue), black);
} */

/* Flexbox Body; Flexbox Header; Item .header-container*/
/* .header-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  margin: 0 16.5%;
  height: 100%;
} */
/* 
.logo {
  width: 66.66%;
  height: 100%;
}

.header img {
  border: none;
  overflow: hidden;
} */

/* Flexbox Body; Flexbox Header; Item .nav-container */
/* .nav-container {
  display: flex;
  align-items: flex-end;
  justify-content: right;
  width: 33.33%;
  height: 100%;
}

.nav {
  flex-grow: 1;
  text-align: right;
  margin-right: 5px;
} */

/* .nav a {
  color: var(--c-yellow);
  text-transform: uppercase;
  font-size: large;
  text-decoration: none;
  padding: 1px 10px;
}

.nav a:hover {
  color: var(--c-white);
  background-color: var(--c-yellow);
  border-radius: 10px 10px 0 0;
} */

/* Flexbox Body; Flexbox Main */
/* main {
  margin: 1% 16.5%;
  background-color: var(--c-white);
  /* border: solid yellow 2px; */
  /* min-height: calc(100vh - 275px);
  border-radius: 10px;
  
} */

/* Flexbox Body; Flexbox Main; Flexbox .main-container (may rename as I figure out how to lay out elements*/
/* .main-container {
  margin: 1rem; */
  /* display: flex; */
/* }

.instructions {
  border-bottom: 1px solid var(--c-lblue);
}

h2 {
  font-size: 1.5em;
  color: var(--c-yellow);
  padding: 5px 0;
}

legend {
  background-color: var(--c-dblue);
  color: var(--c-white);
  padding: 3px 6px;
} */

/* Flexbox Body; Flexbox Main; Flexbox Main-Container; Flexbox .quiz-card */
/* .quiz-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: linear-gradient(var(--c-lneutral), var(--c-white));
  border-radius: 10px;
  text-align: left;
  align-items: left;
  padding: 2% 5% 2% 5%;
  width: 100%;
  border: 3px solid var(--c-white);
  filter: drop-shadow(1rem 1rem 0.75rem var(--c-llgrey));
}

.question-number {
  font-weight: bold;
  font-size: x-large;
  color: var(--c-yellow);
  margin: 1em 0; */
   /* border-radius: 50%; */
/* }

.question-text {
  font-style: italic;
}

.high-scores {
  margin: 10em 0 0 0;
  text-align: center;
} */
/* FlexboxBody; Flexbox Footer */
/* footer {
  height: 50px;
  color: var(--c-lgrey);
  background-color: var(--c-yellow);
  color: var(--c-white);
  border-top: 2px white solid;
  border-bottom: 2px white solid;
  /* border: solid green 2px; */


/* FlexboxBody; FlexboxFooter; Flexbox.contact-container */
/* .contact-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: baseline;
  /* border: solid blue 2px; */
  /* margin: .75rem 16.5%;
  overflow: hidden;
  height: 100%;
} */

/* Font awesome icons */
/* .fa {
  text-decoration: none; */
  /* margin-top: 5px; */
  /* color: var(--c-white);
  margin: 5px 10px;
} */
/* 
.fa:hover {
  color: var(--c-dblue);
} */

/*Progress Bar*/
/* #my-progress {
  width: 100%;
  background-color: var(--c-llgrey);
} */

/* #my-bar {
  width: 1%;
  height: 30px;
  background-color: var(--c-lblue);
} */

/* Media Queries
@media (max-width: 690px) {
  .btn {
    font-size: 1rem;
    margin: 16px 0px 0px 0px;
    padding: 10px 15px;
  }

  #password {
    font-size: 1rem;
  }
}

@media (max-width: 500px) {
  .btn {
    font-size: 0.8rem;
  }
} */